<div class="container-fluid topbar">
  <div class="row bckgrnd">
    <div class="col-lg-11 col-md-11">
      <div class="top-info-left">
        <span class="fa fa-phone"></span>Helpline:- +91-194-2473292
      </div>
      <div class="top-info-right">
        <marquee>Radix Soft Solutions Pvt. Ltd. established in 1992. 
          We are having experience in handling the inventory and accounting software. 
          We are having working experience of thirty years with the Marg ERP Ltd.
          .</marquee>
      </div>
    </div>
  </div>
</div>
<nav class="navbar navbar-expand-lg navbar-light mynavbar">
  <!--start menu bar for mobile-->
  <div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
    <ul class="nav navbar-nav mob-nav">
      <li>
        <a href="#" class="home-icon"><i class="fa fa-home"></i>
        </a>
      </li>
      <li class="dropdown" *ngFor="let menu of menus">
        <a href="#"  data-toggle="dropdown" role="button" aria-expanded="true">
          <span class="nav-label" routerLink={{menu.path}}>{{menu.MenuName}}</span> <i [ngClass]="getClass(menu.MenuName)"  style="padding-left: 5px;"></i>
        </a>
        <ng-container *ngIf="menu.MenuName=='Softwares' || menu.MenuName=='Products'">
            <ul class="dropdown-menu">
              <li *ngFor="let sub of menu.Pages">
                <a href="#">{{sub.PageName}}</a>
                <ul class="sub-items">
                  <li *ngFor="let submenu of sub.Pages">
                    <a href="#" class="nav-link">
                      {{submenu.SubPageName}}
                    </a>
                  </li>
                 </ul>
              </li>
            </ul>
        </ng-container>
      </li>
    </ul>
  </div>
  <!--<a class="navbar-brand" href="#">Navbar</a>-->
  <span class="opennav" style="font-size:30px;cursor:pointer" (click)="openNav()">&#9776;</span>
  <!--logo for mobile-->
  <a class="nav-link mob-logo" href="#"><img src="assets/images/radixlogo.png" alt="logo"></a>
  <!--end menu bar for mobile-->
</nav>

<!----new menu----->
<nav class="navbar navbar-expand-lg navbar-light newmenu" [ngClass]="{'mat-elevation-z5' : true, 'sticky' : isSticky}">
  <div class="navbar-header logo">
            <a class="navbar-brand hdrSrc" href="#">
                <img src="assets/images/radixlogo.png" alt="logo" >
            </a>                              
  </div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="new-top">
        <li><a href="#">Downloads</a></li>
        <li><a href="#">Prices</a></li>
        <li><a href="#">Tutorial</a></li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item active home">
          <a href="#" class="home-icon nav-link"><i class="fa fa-home"></i>
          </a>
        </li>
        <li class="nav-item" [ngClass]="getdropdown(menu.MenuName)" *ngFor="let menu of menus">
          <a class="nav-link"  routerLink={{menu.path}}>{{menu.MenuName}}<i [ngClass]="getClass(menu.MenuName)"  style="padding-left: 5px;"></i>
          </a>
          <ng-container *ngIf="menu.MenuName=='Softwares' || menu.MenuName=='Products'">
          <div class="dropdown-menu submenu" aria-labelledby="navbarDropdown">
            <div class="col-md-4 col-sm-4 col-xs-12"  *ngFor="let sub of menu.Pages">
                            <h6>{{sub.PageName}}</h6>
                            <ul class="list-links">
                                <li *ngFor="let submenu of sub.Pages">
                                  <a class="hdrSrc"> {{submenu.SubPageName}}</a>
                                </li>
                            </ul>
            </div>               
          </div>
          </ng-container>  
        </li>
        <li class="nav-item">
          <a class="nav-link dropdown-toggle" href="#">Login</a>
        </li>
      </ul>
  </div>
</nav>


<!-----new menu----->
<!--menu for desktop-->
<!--<nav class="navbar navbar-expand navbar-light second-nav" id="second-nav" [ngClass]="{'mat-elevation-z5' : true, 'sticky' : isSticky}">
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <div class="dsktp_logo col-lg-2 col-md-2">
      <img src="assets/images/logo.jpg" alt="logo">
    </div>
    <ul class="navbar-nav menu-ul" id="nav">
      <li class="nav-item active home">
        <a href="#" class="home-icon"><i class="fa fa-home"></i>
        </a>
      </li>
      <li class="nav-item" *ngFor="let menu of menus">
        <a  class="nav-link menu-size" routerLink={{menu.path}}>{{menu.MenuName}}<i [ngClass]="getClass(menu.MenuName)"  style="padding-left: 5px;"></i>
        </a>
        <ng-container *ngIf="menu.MenuName=='Product'">
          <ul class="dropdown-menu fadeIn clearfix animated bg-light">
            <li *ngFor="let sub of menu.Pages">
              <a href="#" class="nav-link sub-size">
              {{sub.PageName}}
              </a>
              <ul class="sub-items">
                <li *ngFor="let submenu of sub.Pages">
                  <a href="#" class="nav-link">
                    {{submenu.SubPageName}}
                  </a>
                </li>
               </ul>
            </li>
          </ul>
        </ng-container>
      </li>
    </ul>
  </div>
</nav>-->