<div class="container-fluid ftr-bottom">
    <div class="row text-section2">
      <div class="col-lg-4 col-md-4 col-sm-6 col-12">
        <p class="heading">About Radix Soft Solutions Pvt. Ltd.</p>
        <p class="normal">Radix means “roots” our customers are roots to establish. 
          We believe “A tree wants to touch the sky must extend its roots into the earth. 
          The more it wants to rise upwards, the more it has to grow downwards”.</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-12">
        <p class="heading">Address</p>
        <address class="normal">Shop No 5 Bal Garden
          Near Srinagar Municipal Office 
          Srinagar Kashmir 190010           
        </address>
        <p class="normal"><i class="fa fa-phone"></i>Phone No. +91-194-2473292</p>
        <p class="normal"><i class="fa fa-envelope-o"></i>info@theradix.in</p>
        <p class="normal">info@radix-india.com</p>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-6 col-12 social-icons">
        <a href="#"><p class="heading">Quick Contact</p></a>
        <a href="#"><p>Gallery</p></a>
        <a href="#"><p>Career</p></a>
        <a href="#"><p>Contact Us</p></a>
        <a href="#" class="icons" target="_blank"><i class="fa fa-linkedin"></i></a>
        <a href="#" class="icons" target="_blank"><i class="fa fa-twitter"></i></a>
        <a href="#" class="icons" target="_blank"><i class="fa fa-facebook"></i></a>
      </div>
    </div>
  </div>
  <div class="container-fluid ftr-bottom">
    <div class="row cpyryt">
        <div class="col-lg-12 col-md-12">   
          <p>Copyright © 2021 Radix Soft Solutions Pvt. Ltd. All Rights Reserved.</p>
           <p>Privacy Policy | Terms of Use</p>
        </div>
    </div>
  </div>  
