<div class="container downloads">
    <div class="row first-row">
        <h3>Download <span>Softwares</span></h3>
    </div>
    <div class="row second-row">
        <div class="col-lg-8">
            <div class="card first">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item top">Marg ERP/Counter ERP 9+</li>
                  <li class="list-group-item middle">
                    <div class="img-box">                                                
                        <a href="#" class=""><img src="https://dummyimage.com/150x158/000/fff" alt="image"></a>
                    </div>
                    <h4><a href="#" class="btn">
                            <span class="fa fa-download" style="margin-right: 4px;"></span>Download now
                        </a>
                    </h4>
                    <p class="date">Stable. Updated : <span>11-May-2021</span></p>
                    <p class="text"> <a href="#" target="_blank">Marg ERP 9+ Manual</a></p>
                    <p class="text"><a href="#" target="_blank">Comparison Chart Marg ERP9+</a></p>
                  </li>
                  <li class="list-group-item bottom">
                      <p>Click below link for Download Previous Versions</p>
                      <p><a href="#">Download Previous Versions</a></p>
                  </li>
                </ul>
            </div>  
            <div class="card second">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item top">HrXpert-Payroll Software</li>
                  <li class="list-group-item middle">
                        <div class="img-box">                                                
                            <a href="#" class=""><img src="https://dummyimage.com/150x158/000/fff" alt="image"></a>
                        </div>
                        <h4><a href="#" class="btn">
                                <span class="fa fa-download" style="margin-right: 4px;"></span>Download now
                            </a>
                        </h4>
                        <p class="text"> <a href="#" target="_blank">Payroll Software Manual</a></p>
                  </li>
                  <li class="list-group-item bottom">
                    <p><a href="#">Will be available soon !</a></p>
                  </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row third-row">
        <h3><a class="btn">Click To Explore New features </a></h3>
    </div>
    <div class="row fourth-row">
        <h2 class="heading">How to Download & Install <span>Marg ERP 9+ Software?</span></h2>
        <div class="col-md-12 col-xs-12 video">
            <div class="video-play-area video_card">
                <iframe width="100%" height="416" src="https://www.youtube.com/embed/-NspSUd0UCg" title="YouTube video player">
                </iframe>                                
            </div>
        </div>
    </div>
    <div class="row">
        <h3>Download <span>Patches</span> and <span>Tools</span></h3>
    </div>
</div>
