<div class="container downloads">
    <div class="row first-row">
        <h3>Download <span>Softwares</span></h3>
    </div>
    <div class="row second-row">
        <div class="col-lg-8">
            <div class="card first">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item top">Marg ERP/Counter ERP 9+</li>
                  <li class="list-group-item middle">
                    <div class="img-box">                                                
                        <a href="#" class=""><img src="https://dummyimage.com/150x158/000/fff" alt="image"></a>
                    </div>
                    <h4><a href="#" class="btn">
                            <span class="fa fa-download" style="margin-right: 4px;"></span>Download now
                        </a>
                    </h4>
                    <p class="date">Stable. Updated : <span>11-May-2021</span></p>
                    <p class="text"> <a href="#" target="_blank">Marg ERP 9+ Manual</a></p>
                    <p class="text"><a href="#" target="_blank">Comparison Chart Marg ERP9+</a></p>
                  </li>
                  <li class="list-group-item bottom">
                      <p>Click below link for Download Previous Versions</p>
                      <p><a href="#">Download Previous Versions</a></p>
                  </li>
                </ul>
            </div>  
            <div class="card second">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item top">HrXpert-Payroll Software</li>
                  <li class="list-group-item middle">
                        <div class="img-box">                                                
                            <a href="#" class=""><img src="https://dummyimage.com/150x158/000/fff" alt="image"></a>
                        </div>
                        <h4><a href="#" class="btn">
                                <span class="fa fa-download" style="margin-right: 4px;"></span>Download now
                            </a>
                        </h4>
                        <p class="text"> <a href="#" target="_blank">Payroll Software Manual</a></p>
                  </li>
                  <li class="list-group-item bottom">
                    <p><a href="#">Will be available soon !</a></p>
                  </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row third-row">
        <h3><a class="btn">Click To Explore New features </a></h3>
    </div>
    <div class="row fourth-row">
        <h2 class="heading">How to Download & Install <span>Marg ERP 9+ Software?</span></h2>
        <div class="col-md-12 col-xs-12 video">
            <div class="video-play-area video_card">
                <iframe width="100%" height="416" src="https://www.youtube.com/embed/-NspSUd0UCg" title="YouTube video player">
                </iframe>                                
            </div>
        </div>
    </div>
    <div class="row fifth-row">
        <h2 class="heading">Download Marg <span>Apps Setup</span></h2>
        <div class="col-lg-7 col-md-10 col-sm-12">
            <div class="box">
                <a class="img-box" href="#" target="_blank">
                   <img src="https://dummyimage.com/50x50/000/fff" alt="image">
                </a>
                <h4>
                    <i class="fa fa-play"></i>eRetail App
                </h4>
            </div>
            <div class="box">
                <a class="img-box" href="#" target="_blank">
                   <img src="https://dummyimage.com/50x50/000/fff" alt="image">
                </a>
                <h4>
                    <i class="fa fa-play"></i>eRetail App
                </h4>
            </div>
            <div class="box">
                <a class="img-box" href="#" target="_blank">
                    <img src="https://dummyimage.com/50x50/000/fff" alt="image">
                </a>
                <h4>
                    <i class="fa fa-play"></i>eRetail App
                </h4>
            </div>
        </div>
    </div>
    <div class="row sixth-row">
        <h2 class="heading">Download<span>  Manuals </span>  and <span>  Flyers</span></h2>
        <div class="col-lg-7 col-md-8 col-sm-12">
            <div class="left-side">
                <ul>
                    <li><a href="https://download.margcompusoft.com/manual/marghelp.zip">Marg Software Manual</a></li>
                    <li><a href="https://download.margcompusoft.com/manual/marghelp.zip">Counter Manual</a></li>
                    <li><a href="https://download.margcompusoft.com/manual/marg-mandi-manual.zip">Mandi Software Manual</a></li>
                    <li><a href="https://download.margcompusoft.com/manual/margpaymanual.zip">Payroll Software Manual</a></li>
                    <li><a href="https://download.margcompusoft.com/manual/JewellerySoftware.zip">Jewellery Software Manual</a></li>
                    <li><a href="https://download.margcompusoft.com/pdf/MargERPLogo.zip">Download Marg Logo</a></li>
                    <li><a href="https://download.margcompusoft.com/softwares/GRAPHTOOL.zip">Download Graphic Tool</a></li>
                    <li><a href="https://download.margcompusoft.com/Gallery/gallery.html" target="_blank">Marg Photo Gallery</a></li>
                </ul>
            </div>
            <div class="right-side">
                <ul>
                    <li><a href="https://download.margcompusoft.com/pdf/marg-general-flyer.zip" target="_blank">Marg General Flyer</a></li>
                    <li><a href="https://download.margcompusoft.com/pdf/pharmacy-flyer.zip" target="_blank">Pharmacy Flyer</a></li>
                    <li><a href="https://download.margcompusoft.com/brochure/marg-counter-software-brochure.zip" target="_blank">Counter Brochure</a></li>
                    <li><a href="https://download.margcompusoft.com/pdf/sfa-flyer.zip" target="_blank">SFA Flyer</a></li>
                    <li><a href="https://download.margcompusoft.com/pdf/hrxpert-flyer.zip" target="_blank">Payroll Software Flyer</a></li>
                    <li><a href="https://download.margcompusoft.com/pdf/jewellery-flyer.zip" target="_blank">Jewellery Software Flyer</a></li>
                    <li><a href="https://download.margcompusoft.com/pdf/ebusinessAppflyer.zip" target="_blank">eBusiness App flyer</a></li>
                    <li><a href="https://download.margcompusoft.com/pdf/FMCG-English.zip" target="_blank">FMCG Software Flyer</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row seventh-row">
        <h2 class="heading"><span>Empowering Businesses, </span>Enabling Better India Through IT</h2>
        <div class="col-lg-12 col-md-12 col-sm-12">
           <div class="box">
            <a class="img-box" href="#" target="_blank">
                <img style="margin-bottom:10px;" src="https://dummyimage.com/65x65/000/fff" alt="image">
            </a>
            <p>
                <strong style="color:#308230">20 Billion<sup>+</sup></strong>
            </p>
            <p class="text">Invoices Processed per year</p>
           </div>
           <div class="box">
            <a class="img-box" href="#" target="_blank">
                <img style="margin-bottom:10px;" src="https://dummyimage.com/65x65/000/fff" alt="image">
            </a>
            <p>
                <strong style="color:#308230">50% Pharma & FMCG  </strong>
            </p>
            <p class="text">Invoices Processed per year</p>
           </div>
           <div class="box">
            <a class="img-box" href="#" target="_blank">
                <img style="margin-bottom:10px;" src="https://dummyimage.com/65x65/000/fff" alt="image">
            </a>
            <p>
                <strong style="color:#308230">
                    1 Million+</strong>
            </p>
            <p class="text">Invoices Processed per year</p>
           </div>
           <div class="box">
            <a class="img-box" href="#" target="_blank">
                <img style="margin-bottom:10px;" src="https://dummyimage.com/65x65/000/fff" alt="image">
            </a>
            <p>
                <strong style="color:#308230">850+</strong>
            </p>
            <p class="text">Invoices Processed per year</p>
           </div>
           <div class="box">
            <a class="img-box" href="#" target="_blank">
                <img style="margin-bottom:10px;" src="https://dummyimage.com/65x65/000/fff" alt="image">
            </a>
            <p>
                <strong style="color:#308230">
                    8500+</strong>
            </p>
            <p class="text">Invoices Processed per year</p>
           </div>
           <div class="box">
            <a class="img-box" href="#" target="_blank">
                <img style="margin-bottom:10px;" src="https://dummyimage.com/65x65/000/fff" alt="image">
            </a>
            <p>
                <strong style="color:#308230">20 Billion<sup>+</sup></strong>
            </p>
            <p class="text">Invoices Processed per year</p>
           </div>
        </div>
    </div>
    <div class="row eight-row">
        <h2 class="heading">Become a <span>smart user. </span> Switch to <span> Margï¿½ Erp</span></h2>
    </div>
</div>
