<div class="container-fluid partner bg-light">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 col-12">
            <div class="card">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item first"><i class="fa fa-user"></i> Mr. ABC</li>
                  <li class="list-group-item second">
                    <div class="left-div">
                        <p><i class="fa fa-building"></i>Mr. ABC</p>
                    </div>
                    <div class="right-div">
                        <a href="mailto: mamon.lalbagh@gmail.com"> mamon.lalbagh@gmail.com <i class="fa fa-envelope"></i></a>
                    </div>
                    <div class="right-div">
                        <a href="tel:+91 8951168650">+91 8951168650 <i class="fa fa-mobile"></i></a>
                    </div>
                  </li>
                  <li class="list-group-item third"><i class="fa fa-map-marker fa-lg"></i><span class="w-100 pl-2">Place: Bangalore
                    Bangalore
                    Karnataka
                    India
                    560030
                    </span></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-12">
            <div class="card">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item first"><i class="fa fa-user"></i> Mr. ABC</li>
                  <li class="list-group-item second">
                    <div class="left-div">
                        <p><i class="fa fa-building"></i>Mr. ABC</p>
                    </div>
                    <div class="right-div">
                        <a href="mailto: mamon.lalbagh@gmail.com"> mamon.lalbagh@gmail.com <i class="fa fa-envelope"></i></a>
                    </div>
                    <div class="right-div">
                        <a href="tel:+91 8951168650">+91 8951168650 <i class="fa fa-mobile"></i></a>
                    </div>
                  </li>
                  <li class="list-group-item third"><i class="fa fa-map-marker fa-lg"></i><span class="w-100 pl-2">Place: Bangalore
                    Bangalore
                    Karnataka
                    India
                    560030
                    </span></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-12">
            <div class="card">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item first"><i class="fa fa-user"></i> Mr. ABC</li>
                  <li class="list-group-item second">
                    <div class="left-div">
                        <p><i class="fa fa-building"></i>Mr. ABC</p>
                    </div>
                    <div class="right-div">
                        <a href="mailto: mamon.lalbagh@gmail.com"> mamon.lalbagh@gmail.com <i class="fa fa-envelope"></i></a>
                    </div>
                    <div class="right-div">
                        <a href="tel:+91 8951168650">+91 8951168650 <i class="fa fa-mobile"></i></a>
                    </div>
                  </li>
                  <li class="list-group-item third"><i class="fa fa-map-marker fa-lg"></i><span class="w-100 pl-2">Place: Bangalore
                    Bangalore
                    Karnataka
                    India
                    560030
                    </span></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-12">
            <div class="card">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item first"><i class="fa fa-user"></i> Mr. ABC</li>
                  <li class="list-group-item second">
                    <div class="left-div">
                        <p><i class="fa fa-building"></i>Mr. ABC</p>
                    </div>
                    <div class="right-div">
                        <a href="mailto: mamon.lalbagh@gmail.com"> mamon.lalbagh@gmail.com <i class="fa fa-envelope"></i></a>
                    </div>
                    <div class="right-div">
                        <a href="tel:+91 8951168650">+91 8951168650 <i class="fa fa-mobile"></i></a>
                    </div>
                  </li>
                  <li class="list-group-item third"><i class="fa fa-map-marker fa-lg"></i><span class="w-100 pl-2">Place: Bangalore
                    Bangalore
                    Karnataka
                    India
                    560030
                    </span></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-12">
            <div class="card">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item first"><i class="fa fa-user"></i> Mr. ABC</li>
                  <li class="list-group-item second">
                    <div class="left-div">
                        <p><i class="fa fa-building"></i>Mr. ABC</p>
                    </div>
                    <div class="right-div">
                        <a href="mailto: mamon.lalbagh@gmail.com"> mamon.lalbagh@gmail.com <i class="fa fa-envelope"></i></a>
                    </div>
                    <div class="right-div">
                        <a href="tel:+91 8951168650">+91 8951168650 <i class="fa fa-mobile"></i></a>
                    </div>
                  </li>
                  <li class="list-group-item third"><i class="fa fa-map-marker fa-lg"></i><span class="w-100 pl-2">Place: Bangalore
                    Bangalore
                    Karnataka
                    India
                    560030
                    </span></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-12">
            <div class="card">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item first"><i class="fa fa-user"></i> Mr. ABC</li>
                  <li class="list-group-item second">
                    <div class="left-div">
                        <p><i class="fa fa-building"></i>Mr. ABC</p>
                    </div>
                    <div class="right-div">
                        <a href="mailto: mamon.lalbagh@gmail.com"> mamon.lalbagh@gmail.com <i class="fa fa-envelope"></i></a>
                    </div>
                    <div class="right-div">
                        <a href="tel:+91 8951168650">+91 8951168650 <i class="fa fa-mobile"></i></a>
                    </div>
                  </li>
                  <li class="list-group-item third"><i class="fa fa-map-marker fa-lg"></i><span class="w-100 pl-2">Place: Bangalore
                    Bangalore
                    Karnataka
                    India
                    560030
                    </span></li>
                </ul>
            </div>
        </div>
    </div>
</div>