<div class="container-fluid help-section">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-10">
            <h2>May I Help you?</h2>
            <hr>
            <form  [formGroup]="enquiryForm">
                <div class="form-row">
                  <div class="form-group col-md-6 col-sm-6">
                    <label for="full-name">Full Name</label>
                    <input type="text"  formControlName="FullName" placeholder="Full Name" class="form-control" 
                    ngModel pattern="[a-zA-Z ]*">
                    <div *ngIf="(f.FullName.invalid && f.FullName.touched) || f.FullName.dirty">
                      <small *ngIf="f.FullName.errors?.required" class="text-danger">FullName is required</small>
                      <small class="text-danger" *ngIf="f.FullName.errors?.pattern">Please provide a valid name</small>
                      <!--question mark(?) is a safe navigation operator-->
                    </div>
                  </div>
                  <div class="form-group col-md-6 col-sm-6">
                    <label for="last-name">Email</label>
                    <input type="email" formControlName="Email" placeholder="Email" class="form-control" required>
                    <div *ngIf="(f.Email.invalid && f.Email.touched) || f.Email.dirty">
                      <small *ngIf="f.Email.errors?.required" class="text-danger">Email is required</small>
                      <!--question mark(?) is a safe navigation operator-->
                      <small class="text-danger" *ngIf="f.Email.errors?.pattern">Please provide a valid email address</small>
                     
                    </div>
                  </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6 col-sm-6">
                      <label for="trade">Trade</label>
                      <select id="trade"  formControlName="Trade"  class="form-control">
                        <option value="1">Manufacturer</option>
                        <option value="2">Distribution</option>
                        <option value="3">Retail</option>
                        <option value="4">Service</option>
                        <option value="4">others</option>
                      </select>
                      <div *ngIf="(f.Trade.invalid && f.Trade.touched) || f.Trade.dirty">
                        <small *ngIf="f.Trade.errors?.required" class="text-danger">Trade is required</small>
                        <!--question mark(?) is a safe navigation operator-->
                        <small *ngIf="f.Trade.errors?.pattern" class="text-danger"></small>
                      </div>
                    </div>
                    <div class="form-group col-md-6 col-sm-6">
                      <label for="mobile-number">Mobile Number</label>
                      <input type="text" maxlength="12" formControlName="ContactNo" placeholder="Contact" class="form-control"  
                      ngModel pattern="^((\\+91-?)|0)?[0-9]{10}$">
                      <div *ngIf="(f.ContactNo.invalid && f.ContactNo.touched) || f.ContactNo.dirty">
                        <small *ngIf="f.ContactNo.errors?.required" class="text-danger">Mobile Number is required</small>
                        <!--question mark(?) is a safe navigation operator-->
                        <small class="text-danger" *ngIf="f.ContactNo.errors?.pattern">Please provide a valid Mobile
                          Number</small>
                       
                      </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label for="discription">Description</label>
                        <textarea type="message" rows="3" formControlName="Comments" class="form-control" required></textarea>
                        <div *ngIf="(f.Comments.invalid && f.Comments.touched) || f.Comments.dirty">
                          <small *ngIf="f.Comments.errors?.required" class="text-danger">Description is required</small>
                          <!--question mark(?) is a safe navigation operator-->
                          <small *ngIf="f.Comments.errors?.pattern" class="text-danger"></small>
                         
                        </div>
                    </div>
                    <div class="form-group col-md-12 checkbox">
                      <input type="checkbox" id="user" formControlName="ExistingUser" class="form-control" required  value="User">
                      <label for="user">Existing User</label>
                      <div *ngIf="(f.ExistingUser.invalid && f.ExistingUser.touched) || f.ExistingUser.dirty"
                      style="margin-top: 5px; margin-left: 10px;">
                        <small *ngIf="f.ExistingUser.errors?.required" class="text-danger">Required information</small>
                        <!--question mark(?) is a safe navigation operator-->
                        <small *ngIf="f.ExistingUser.errors?.pattern" class="text-danger"></small>
                       
                      </div>
                    </div>
                </div> 
                <button type="submit" [disabled]="!enquiryForm.valid" class="btn" (click)="onSubmit()">Submit</button>
              </form>
        </div>
    </div>
</div>
