<div class="container-fluid about-us">
    <div class="row banner">
        <div class="col-lg-12 col-md-12 padding-0">
            <img src="assets/images/aboutus.jpg" alt="banner" class="img-fluid">
        </div>
    </div>   
</div>  
<div class="container about-us">
    <h1>about us</h1>
    <div class="row text">
       <div class="col-lg-12">
        <p>Radix means “roots” our customers are roots to establish. We believe “A tree wants to touch the sky must extend its roots into the earth. The more it wants to rise upwards, the more it has to grow downwards”.
            Radix Soft Solutions Pvt. Ltd. established in 1992. We are having experience in handling the inventory and accounting software. We are having working experience of thirty years with the Marg ERP Ltd.
            Radix Soft Solutions Pvt. Ltd. has developed its customer within J&K through our team partner at all district levels.
            Radix Soft Solutions Pvt. Ltd is committed to provide the best-in-class customer service & has a dedicated technical support team to solve your concern at the earliest.
            Our skilled workforce of employees provides the fastest and hassle-free support to
            the customers as well as to the partners regarding software related issues and queries            
        </p>
        <p><strong>Trade Specialized software</strong></p>
            <ul style="list-style: none; padding: 0px;">
                <li>Pharmaceutical Manufacturing</li>
                <li>Pharmaceutical Distribution</li>
                <li>Pharmacy (Retail)</li>
                <li>Fmcg</li>
                <li>Departmental Store</li>
                <li>Book Shop & Stationary</li>
                <li>Jewelry</li>
                <li>General Trading</li>
                <li>Saloon</li>
                <li>Appeals</li>
                <li>Readymade Garments</li>
                <li>Restaurant</li>
                <li>Footwear</li>
                <li>Automobiles</li>
                <li>Electronic Appliances</li>
            </ul>    
       </div>
    </div>
</div>
