<!--<div class="container-fluid">
    <div class="row top-banner">
        <a href="#"><img src="https://dummyimage.com/1980x800/#308230" class="img-fluid" alt="image"></a>
    </div>
</div>-->
<div class="container-fluid">
  <div class="row">
      <div class="col-lg-12 col-md-12" style="padding: 0;">
         <div class="banner">
            <img src="https://dummyimage.com/1980x800/fff/fff" alt="BANNER" 
              class="img-fluid" style="width:100%;">
            <p class="text_on_banner">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua 
            </p>
            <!--<p class="text2">
               Neque porro quisquam est qui dolorem ipsum quia
            </p>-->
            <div class="Rectangle_2">
              <a href="#" target="_blank">
                <p class="Explore_collection">
                 Try Free 30 days Trial
                </p>
              </a>
            </div>   
            <img src="assets/images/BannerImage.png" class="banner_image img-fluid" alt="banner_image" >           
         </div>
      </div>
  </div>
</div>
<!--Ist section-->
<div class="container first-section">
    <div class="row">
       <div class="col-lg-12 col-md-12">
        <h2>Why Businesses Choose Us?​</h2>
       </div>
       <div class="col-lg-3 col-md-3 col-sm-6 col-6 box-container">
          <div class="box-wrapper">
            <img src="assets/images/monitor.svg" class="img-fluid" alt="image">
            <p>Simple and easy to use (doesn’t require accounting knowledge).</p>
          </div>
       </div>
       <div class="col-lg-3 col-md-3 col-sm-6 col-6 box-container">
        <div class="box-wrapper">
          <img src="assets/images/Configurable.svg"  class="img-fluid" alt="image">
          <p>Highly flexible to accommodate diverse business needs.</p>
        </div>
       </div>
       <div class="col-lg-3 col-md-3 col-sm-6 col-6 box-container">
        <div class="box-wrapper">
          <img src="assets/images/Scalable.svg" class="img-fluid" alt="image">
          <p>Scalable as per your growing business needs.</p>
        </div>
       </div>
       <div class="col-lg-3 col-md-3 col-sm-6 col-6 box-container">
        <div class="box-wrapper">
          <img src="assets/images/browser.svg" class="img-fluid" alt="image">
          <p>In-built GSP features like (Auto E-way Bill, GSTR 2A, E-Invoicing, etc.).</p>
        </div>
       </div>
    </div>
  </div>
  <!--second section-->
  <div class="container-fluid second-section">
    <div class="row">
        <div class="col-lg-12 col-md-12">
           <h2>How <strong>Radix</strong> Boosts Your Business Efficiency?</h2>
           <hr>
        </div>   
        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="box-wrapper">
              <img src="assets/images/Accounting.png" class="img-fluid" alt="image">
              <h3>Financial Accounting</h3>
              <p>Starting from Vouchers to Ledgers to Trial Balance & Balance Sheet, 
                everything is available at the click of a button.  Add another layer of 
                controls with the help of Sub Ledgers & Cost Centres.</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="box-wrapper">
              <img src="assets/images/Multi Location Inventory.png"  class="img-fluid" alt="image">
              <h3>Inventory Management</h3>
              <p>
                Manage your inventory with additional details like Batch No. (with expiry), Serial Nos., 
                Parameters (Colour, Size, Style etc.).  Maintain multiple
                go-downs & locations smoothly.
            </p>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
            <div class="box-wrapper">
             <img src="assets/images/FlexibleConfigurable.png" class="img-fluid" alt="image">
             <h3>Configurable Invoicing</h3>
             <p>Create GST compliant professional invoices as per business requirements easily.  
               Maintain Party / Item-wise & Date-wise Item Prices.</p>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
          <div class="box-wrapper">
            <img src="assets/images/GST.png" class="img-fluid" alt="image">
            <h3>Comprehensive GST Module</h3>
            <p>Simplify your GST from Billing to Return Filing with features like GSTIN Validation, 
              GSTR 1 / 2A / 3B Reconciliation, E-way Bill Generation, GST returns in JSON format and 
              much more.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
         <div class="box-wrapper">
            <img src="assets/images/Business Management.png" class="img-fluid" alt="image">
            <h3>Operations Management</h3>
            <p>Manage all your business operations like Indent / Quotation / Order / Challan / 
              Invoicing / Receivable / Payable along with Payroll & Customer Support swiftly.</p>
         </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6">
          <div class="box-wrapper">
            <img src="assets/images/Mobile App.png" class="img-fluid" alt="image">
            <h3>Mobile App</h3>
            <p>Stay connected with your business data anywhere / anytime directly 
              on your Mobile Phone. Timely access to data can help you in making 
              informed business decisions.</p>
          </div>
       </div>
       <button type ="submit">See more 
        <i class="fa fa-long-arrow-alt-right"></i></button>
    </div>
  </div>
  <!--third section-->
  <div class="container-fluid third-section">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <p>client speaks</p>
        <h2>Testimonials</h2>
        <hr/>
        <div id="testimonial_slider" class="col-lg-8 col-md-10 col-sm-12 carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ul class="carousel-indicators">
            <li data-target="#testimonial_slider" data-slide-to="0" class="active"></li>
            <li data-target="#testimonial_slider" data-slide-to="1"></li>
            <li data-target="#testimonial_slider" data-slide-to="2"></li>
          </ul>
          <!-- Left and right controls -->
          <a class="carousel-control-prev" href="#testimonial_slider" data-slide="prev">
            <span class="carousel-control-prev-icon fa fa-arrow-left"></span>
          </a>
          <a class="carousel-control-next" href="#testimonial_slider" data-slide="next">
            <span class="carousel-control-next-icon fa fa-arrow-right"></span>
          </a>
          <div class="carousel-inner padding-0">
            <div class="carousel-item active">
              <div class="box-wrapper">
                <img src="https://dummyimage.com/80x40/000/fff" alt="logo">
                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                  sed do eiusmod tempor incididunt ut labore et dolore magna 
                  aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                  laboris nisi ut aliquip ex ea commodo consequat."</p>
                <ul class="stars padding-0">
                  <li><i class="fa fa-star active"></i></li>
                  <li><i class="fa fa-star active"></i></li>
                  <li><i class="fa fa-star active"></i></li>
                  <li><i class="fa fa-star active"></i></li>
                </ul>
                <h5>Lorem ipsum</h5>
              </div>
            </div>
            <div class="carousel-item">
              <div class="box-wrapper">
                <img src="https://dummyimage.com/80x40/000/fff" alt="logo">
                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                  nisi ut aliquip ex ea commodo consequat"</p>
                <ul class="stars padding-0">
                  <li><i class="fa fa-star active"></i></li>
                  <li><i class="fa fa-star active"></i></li>
                  <li><i class="fa fa-star active"></i></li>
                  <li><i class="fa fa-star active"></i></li>
                </ul>
                <h5>Lorem ipsum</h5>
              </div>
            </div>
            <div class="carousel-item">
              <div class="box-wrapper">
                <img src="https://dummyimage.com/80x40/000/fff" alt="logo">
                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                  nisi ut aliquip ex ea commodo consequat"</p>
                <ul class="stars padding-0">
                  <li><i class="fa fa-star active"></i></li>
                  <li><i class="fa fa-star active"></i></li>
                  <li><i class="fa fa-star active"></i></li>
                  <li><i class="fa fa-star active"></i></li>
                </ul>
                <h5>Lorem ipsum</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--fourth section-->
  <div class="container-fluid fourth-section bg-light">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <h2>Switch to a complete business solution.</h2>
        <button type="submit">Try free 30 days trial</button>
      </div>
    </div>
  </div>
  <app-enquiry></app-enquiry>
  <app-clients></app-clients>
  <button (click)="topFunction()" id="scrollToTopBtn" title="Go to top">☝️</button>
