/* You can add global styles to this file, and also import other style files */
/** HEADER **/
html {
    scroll-behavior: smooth;
  }
  /**scrollToTopBtn**/
  #scrollToTopBtn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 100;
    background-color: #308230;
    border: none;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    font-size: 16px;
    line-height: 48px;
    width: 48px;
  }
  body{
    font-family: 'Changa', sans-serif;
  }
  .padding-0 {
    padding: 0px !important;
  }
  .topbar .bckgrnd{
     background-color: black;
     height: auto;
     padding: 5px;
  }
  .topbar .bckgrnd .col-lg-11{
     margin:auto;
     display: flex;
  }
  .topbar .top-info-left,
  .topbar .top-info-right{
    color:white;
    font-size: 14px;
  }
  .topbar .top-info-left span{
     width: 5%;
     text-align: center;
  }
  /*---NAVBAR---*/
  .sticky {
    position: fixed !important;
    top: 0;
    width: 100%;
    z-index: 999;
    background: #fff;
  }
/*---new menu----*/
.newmenu{
	padding-bottom: 0px !important;
}
.logo .navbar-brand{
	text-align: center;
	margin: auto;
}
.logo img{
    max-width: 30%;
}
#navbarSupportedContent .menu-item{
	position: static;
}
#navbarSupportedContent .submenu{
	width: 98%;
    margin: auto;
    padding: 15px 20px;
    background: #fff;
    border: none;
    border-top: 2px solid #308230;
    border-radius: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.navbar-expand-lg  #navbarSupportedContent{
	display: block !important;
  flex-basis: auto;
}
.navbar-expand-lg #navbarSupportedContent .navbar-nav{
	flex-direction: row;
}
#navbarSupportedContent .navbar-nav{
  margin-left: auto;
  float: right;
}
#navbarSupportedContent .navbar-nav .dropdown-menu{
	position: absolute;
}
#navbarSupportedContent .nav-item:hover{
   background-color: #308230;
}
#navbarSupportedContent .dropdown-menu.show,
.menu-item:hover > .submenu{
	display: flex !important;
}
.menu-item .submenu .list-links{
   padding: 0px;
}
#navbarSupportedContent .nav-link{
	padding-right: .4;
  padding-left: .9rem;
}
#navbarSupportedContent .nav-link{
  font-weight: 400;
  color: black;
  line-height: 20px;
  font-size: 15px;
}
#navbarSupportedContent .nav-link:hover{
  color: white;
}
.navbar-nav .submenu h6{
   font-weight: 700;
   text-transform: uppercase;
   color: #308230;
   letter-spacing: 0.5px;
   padding: 0 0 7px;
   border-bottom: 1px solid #308230;
   font-size: 12px;
}
.submenu .list-links li{
	list-style: none;
}
.submenu .list-links a:hover{
    color: #308230;
    padding-left: 2px;
    text-decoration: none;
}
.submenu .list-links a{
	display: block;
    font-size: 13px;
    color: black;
    padding: 4px 0;
    border-bottom: 1px dashed #e4e4e4;
    position: relative;
}
#navbarSupportedContent .new-top{
  list-style: none;
  display: flex;
  margin-left: auto;
  width: 40%;
  padding-left: 0px;
  margin-bottom: 0px;
}
#navbarSupportedContent .new-top li{
  margin-left: auto;
  margin-right: auto;
}
#navbarSupportedContent .new-top li a{
  font-weight: 400;
  color: navy;
  font-size: 14px;
  text-decoration: none;
}
/*----new menu----*/

  /**.second-nav{
    border-bottom: 1px solid #DBDCDE;
  }
  .second-nav .dsktp_logo{
    text-align: center;
  }
  .second-nav #nav{
    position: relative;
    z-index: 2;
    margin-left: auto;
  }
  .mynavbar .navbar-toggler{
    color:#cdc9c9;
    border-color: transparent;
  }**/
   /*menubar*/
  /**#nav 
    {
      list-style: none inside;
      margin: 0;
      padding: 0;
      text-align: center;
    }
    #nav li {
      display: inline-block;
      position: relative;
    }
    #nav li .nav-link,
    #nav li .home-icon {
      display: block;
      text-transform: none;
      text-decoration: none;
      text-align: center;
      font-family: inherit;
      font-weight: normal;
      cursor: pointer;
      color: black;
      line-height: 1.5;
    }
    #nav .home {
      margin-top: auto;
      margin-bottom: auto;
    }**/
    /* smaller font size for sub menu items */
    /**#nav a:hover {
      color:#cdc9c9; 
    }
    /* highlights current hovered list item and the parent list items when hovering over sub menues */
    /**#nav .bg-light {
      display: none;
    }
    #nav > li:hover  > ul
    {
      min-height: auto;
      display: block !important;
      padding: 20px 10px 30px;
      background: #fff;
      box-shadow: 0px 0px 5px 0px rgb(0 0 0 / 10%);
      position: absolute;
      line-height: 35px;
    }
    #nav .sub-items{
      padding-left: 0px;
    }
    #nav .sub-items li{
      padding: 0px;
      display: block;
    }
    #nav .sub-items > li > a{
      padding: 0px;
      text-align: center;
      font-size: 14px;
    }
    #nav li .sub-size{
      font-weight: bold;
      min-height: 12%;
      text-align: center;
      padding: 0px;
    }
    /**.second-nav .nav-link i{
      color:black;
      margin-right: 2px;
    }**/
   /*BANNER*/
  .top-banner .d-md-block,
  .top-banner .d-md-none{
    width: 100%;
  }
  .top-banner img{
    width: 100%;
    margin-top: 10px;
  }
  /**.banner {  
    position:relative;
    text-align: left;
  }**/
  /**.banner .text_on_banner {
    font-size: 14px;
    text-transform: uppercase;
    line-height: 1.615;
    text-align: left;
    left:8%;
    position:absolute;
  }
  .banner .text2 {
    font-size: 45px;
    color: white;
    line-height: 1.2;
    text-align: left;
    left:8%;
    max-width:450px;
    position:absolute;
  }
  .banner .Rectangle_2 {
    border-radius:23px;
    background-color: rgb(255, 90, 0);
    position: absolute;
    width: 25%;
    border:none;
    left:8%;
  }
  .banner .Explore_collection{
    font-size: 14px;
    color: rgb(255, 255, 255) !important;
    text-transform: uppercase;
    line-height: 3.5;
    text-align: center;
    margin-bottom: 0px;
  }
  .banner > .banner_image{
    position: absolute;
     top: 14%;
     right:5%;
  }**/
  /*BELOW SECTION*/
  .below-slider{
    background-color: rgba(48, 48, 48, 0.6);
  }
  .below-slider > .row{
    margin: auto;
  }
  .below-slider .wrapper{
    display: flex;
    justify-content: center;
    padding: 5px 0px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .below-slider .wrapper h5{
    margin-left: 5px;
    margin-top: auto;
    margin-bottom: auto;
    color: white;
    font-weight: bold;
  }
  /*first-section*/
  .first-section h2,
  .second-section h2,
  .third-section h2,
  .fifth-section h2,
  .help-section h2{
    text-transform: capitalize;
    font-weight: 500;
    text-align: center;
    margin-bottom: 35px;
  }
  .first-section  > .row,
  .second-section > .row,
  .third-section  > .row,
  .fifth-section > .row
  {
    padding: 40px 0px;
    text-align: center;
    margin: auto;
  }
  .first-section .box-wrapper p{
    margin-top: 10px;
  }
  .first-section .box-wrapper  img{
    width: 30%;
  }
  .first-section .box-wrapper p{
    font-size: 15px;
  }
  /*SECOND-SECTION*/
  .second-section{
    background-color: #308230;
  }
  .second-section h2{
    color: white;
    margin-bottom: 0px;
  }
  .second-section hr{
    border-top: 4px solid #303030;
    width: 10%;
  }
  .second-section .box-wrapper h3{
    margin-top: 15px;
    font-size: 16px;
    font-weight: 700;
    color: white;
  }
  .second-section .box-wrapper > p{
    max-width: 80%;
    margin: auto;
    color: white;
  }
  .second-section .row button{
    margin: auto;
    background-color: rgb(255, 90, 0);
  }
  /*THIRD SECTION*/
  .third-section{
    background-color: #fcfcfc;
  }
  .third-section .row > div >p{
    font-size: 18px;
    text-transform: uppercase;
  }
  .third-section .box-wrapper{
    box-shadow: 9px 11px 14px 0 rgb(0 0 0 / 10%);
    padding: 30px;
    background-color: #fff;
  }
  .third-section .box-wrapper img{
    margin-bottom: 15px;
  }
  #testimonial_slider .carousel-control-prev,
  #testimonial_slider .carousel-control-next{
    font-size: 20px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 5px 10px 0 rgb(0 0 0 / 10%);
    transition: color .2s ease;
  }
  #testimonial_slider .carousel-control-prev span,
  #testimonial_slider .carousel-control-next span
  {
    color: #308230
  }
  .third-section #testimonial_slider{
    margin: auto;
  }
  .third-section #testimonial_slider .stars{
    list-style: none;
  }
  .third-section #testimonial_slider .stars li{
    display: inline-block;
    margin: 2px;
  }
  .third-section #testimonial_slider i{
    color:#fec42d;
  }
  .third-section h2{
    margin-bottom: 0px;
  }
  .third-section hr{
    border-top: 4px solid #303030;
    width: 5%;
    margin-bottom: 35px;
  } 
  #testimonial_slider .carousel-indicators li{
    background-color: black;
  }
  #testimonial_slider h5{
    text-transform: capitalize;
    margin-bottom: 15px;
  }
  /*FOURTH-SECTION*/
  .fourth-section .row > div{
    margin: 50px 0px;
    text-align: center;
  }
  .fourth-section .row h2{
    color:#303030;
  }
  .fourth-section .row button,
  .help-section button{
    background-color:#308230;
  }
  .fourth-section .row button,
  .second-section .row button,
  .help-section button
  {
    padding: 0.5em 4.2em;
    border-radius: 23px;
    margin-top: 25px;
    border: none;
    color:white;
    box-shadow: 0 10px 30px -8px rgb(0 0 0 / 16%);
    font-weight: bold;
  }
  /*HELP SECTION*/
  .help-section > .row{
    padding: 40px 0px;
  }
  .help-section{
    background-color: #fcfcfc;
  }
  .help-section h2{
    margin-bottom: 0px;
  }
  .help-section hr{
    border-top: 4px solid #303030;
    width: 5%;
    margin-bottom: 35px;
  }
  .help-section > .row > div{
    margin: auto;
    background-color: #f8f9fa;
    box-shadow: 0 0 10px #ccc;
    border: 6px white solid;
    padding: 10px;
  }
  .help-section form{
    text-align: center;
  }
  .help-section form .form-group{
    text-align: left;
  }
  .help-section button:hover,
  .help-section button:visited,
  .help-section button:focus{
      border: none;
      background-color: #308230;
      color: white;
      box-shadow: 0 10px 30px -8px rgb(0 0 0 / 16%);
  }
  .help-section .checkbox{
    display: flex;
    margin: auto;
    justify-content: center;
  }
  .help-section .checkbox input{
    width: auto;
  }
  .help-section .checkbox label{
    margin-left: 10px;
    margin-bottom: 0px;
    margin-top: 6px;
  }
  /*FIFTH SECTION*/
  .fifth-section{
    margin-bottom: 20px;
  }
  .fifth-section h2{
    margin-bottom: 0px;
  }
  .fifth-section > .row{
    padding: 40px 0px 0px;
    justify-content: center;
  }
  .fifth-section hr{
    border-top: 4px solid #303030;
    width: 5%;
    margin-bottom: 35px;
  }
  .fifth-section .trending_row > div{ 
    margin-bottom: 10px;
  }
  .fifth-section .trending_row > div:nth-of-type(1){
    margin-bottom: 0px;;
  }
  /*FOOTER*/
  .ftr-bottom .cpyryt{
    background-color:black;
    border-top: 1px solid lightgrey;
    padding: 10px 0;
  }
  .ftr-bottom .cpyryt div{
    margin: auto;
  }
  .ftr-bottom .cpyryt div p{
    color: white;
    margin-bottom: 0px;
    font-size: 14px;
  }
  .ftr-bottom .cpyryt div p:nth-of-type(2){
    margin-left: auto;
  }
  .ftr-bottom{
    background-color: #308230;
    letter-spacing: 1px;
  }
  .ftr-bottom .text-section2{
    margin: auto;
  }
  .ftr-bottom .text-section2 > div{
    text-align: left;
  }
  .ftr-bottom .text-section2 .heading{
    text-transform: uppercase;
    font-weight: bold;
    color: white;
  }
  .ftr-bottom .text-section2 .normal,
  .social-icons a p{
    font-weight: normal;
    color: white;
    margin-bottom: 5px;
    font-size: 16px;
  }
  .ftr-bottom .text-section2 a{
     text-decoration: none;
  }
  .ftr-bottom .text-section2 p i{
    margin-right: 5px;
  }
  .ftr-bottom .social-icons a:hover {
    background: #0499da;
  }
  .ftr-bottom .social-icons .icons{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #fff;
    padding: 0px;
    display: inline-block;
    text-align: center;
    margin: 0px 2px;
  }
  .ftr-bottom .social-icons .icons i{
    color: #fff;
    font-size: 14px;
  }
  .ftr-bottom .social-icons img{
     margin: 5px 5px 0px;
  }
  /**ABOUT US**/
  .about-us > .text,
  .about-us > h1,
  .contact-us > h1{
    padding: 10px 0px;
  }
  .about-us > h1,
  .contact-us > h1,
  .customer h1,
  .partner h1
  {
    text-align: center;
    text-transform: capitalize;
    color:darkgray;
  }
  .about-us > .text{
    text-align: center;
  }
  .about-us > .text p
  {
    padding: 12px;
  }
  .about-us > .text h2{
    padding: 12px 0px;
  }
  /*CONTACT US*/
  .contact-us > hr{
    width: 50%;
  }
  .contact-us .row > div{
    margin: auto;
    text-align: center;
    padding-bottom: 25px;
    background-color: #fcfcfc;
  }
  .contact-us .fisrt-div,
  .contact-us .second-div{
     margin-top: 30px;
     padding: 10px;
  }
  .contact-us  .second-div i{
     margin-right: 5px;
  }
  .contact-us  .second-div img{
    transform: rotate(-90deg);
    width: 20%;
  }
  .contact-us .inner-div{
    display: flex;
    justify-content: center;
  }
  /*slick*/
  .slick-slider {
    margin: auto;
  } 
  .slick-initialized .slick-slide{
    margin-right: 1px;
  }
  .slick-slider .prev-slide{
    left: -3%;
  }
  .slick-slider .next-slide{
    right: -3%;
  }
  .slick-slider .prev-slide, 
  .slick-slider .next-slide {
    position: absolute;
    height: auto;
    width: auto;
    z-index: 100;
  }
  /*partner*/
  .partner,.customer{
    margin: 20px 0px 0px;
  }
  .partner > .row{
     justify-content: center;
  }
  .partner h1{
    margin-bottom: 20px;
  }
  .partner .card{
    border:1px solid #007bff;
    margin-bottom: 10px;
  }
  .partner .card .first{
    text-transform:uppercase;
    font-size: 18px;
  }
  .partner .card .first i,
  .partner .card .second .left-div i{
    margin-right: 5px;
  }
  .partner .card .second
  {
    color: #007bff;
    font-size: 18px;
  }
  .partner .card .second .right-div i{
    margin-left: 6px;
  }
  .partner .card .third{
    color:lightgrey;
    font-size: 14px;
  }
  .partner .card .right-div{
    text-align: right;
  }
  /*customer*/
  .customer .wrapper{
    text-align: center;
  }
  .customer h1{
    margin-bottom: 20px;
  }
  .customer > .row{
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .customer > .row > .wrapper{
    border: 1px solid #e6e6e6;
    padding: 5px 5px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: #fbfbfb;
    width: 19%;
    margin-bottom: 10px;
  }
  .customer  .wrapper p{
    font-size: 12px;
    font-weight: 600;
    margin-top: 5px;
    color: #000;
  }
  /*Downloads*/
  .downloads .first-row{
    margin-top: 20px;
  }
  .downloads .second-row,
  .downloads .fifth-row {
    margin-bottom: 30px;
    margin-top: 20px;
  }
  .downloads .row h3,
  .downloads .fourth-row h2,
  .downloads .row h2,
  .price .row h2
  {
    margin-left: auto;
    margin-right: auto;
    font-weight: normal;
    text-align: center;
    font-size: 30px;
  }
  .downloads .row h3 > span,
  .downloads .fourth-row h2 > span,
  .downloads .row h2 > span,
  .price .row h2 > span{
    color: #308230;
  }
  .downloads .second-row .first{
    width: 55%;
    margin: auto;
  }
  .downloads .second-row .second{
    width: 41%;
    margin: auto;
  }
  .downloads .second-row .first .top,
  .downloads .second-row .second .top{
    background-color: #f9f9f9;
    border-color: #e4e4e4;
    padding: 8px;
    text-align: center;
    font-size: 20px;
  }
  .downloads .second-row .first .bottom,
  .downloads .second-row .second .bottom,
  .downloads .second-row .first .middle{
    background-color: #f9f9f9;
  }
  .downloads .second-row .first .bottom,
  .downloads .second-row .second .bottom,
  .downloads .second-row .first .middle,
  .downloads .second-row .second .middle {
    text-align: center;
    font-size: 12px;
  }
  .downloads .second-row .first .bottom p,
  .downloads .second-row .first .middle p,
  .downloads .second-row .second .middle p{
    margin-bottom: 3px;
  }
  .downloads .second-row .first .bottom p a,
  .downloads .second-row .second .bottom p a,
  .downloads .second-row .first .middle .text a,
  .downloads .second-row .second .middle .text a,
  .downloads .sixth-row ul a{
    color: #337ab7;
  }
  .downloads .second-row .first .middle,
  .downloads .second-row .second .middle{
    height: 310px;;
  }
  .downloads .second-row .middle h4 {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .downloads .second-row .middle h4 a{
    margin-bottom: 0;
    padding: 5px 35px;
    background: #308230;
    color: #fff;
    border-radius: 3px;
  }
  .downloads .second-row .middle h4 a:hover, 
  .downloads .second-row .middle h4 a:focus{
    box-shadow:none;
  }
  .downloads .second-row .second .bottom{
    padding-top: 20px;
  }
  .downloads .third-row,
  .downloads .fourth-row{
    justify-content: center;
  }
  .downloads .third-row h3{
    font-size: 30px;
    margin: 0 0 35px;
    font-weight: normal;
    color: #308230;
    text-align: center;
    display: inline-block;
  }
  .downloads .third-row h3 > .btn{
    cursor: pointer;
    color: #308230;
    font-size: 22px;
    background: none;
    border: 1px solid #308230;
    border-radius: 5px;
  }
  .downloads .fourth-row .video{
    text-align: center;
    margin: 15px 0px;
  }
  .downloads .fourth-row .video .video_card{
    width: 70%;
    margin: auto;
  }
  .downloads .fourth-row .video iframe{
    box-shadow: 0px 0px 5px 2px #a7a3a3;
  }
  .downloads .row h2{
    width: 100%;
  }
  .downloads .fifth-row > div,
  .downloads .sixth-row > div,
  .downloads .seventh-row > div
  {
    display: flex;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .downloads .fifth-row .box{
    width: 30%;
    margin: auto;
    background: #fafafa;
    color: #696e94;
    font-size: 17px;
    text-align: center;
    padding: 30px;
    box-shadow: 0 0 25px #ccc;
    border: 2px solid transparent;
  }
  .downloads .fifth-row .box:hover{
    background: #fff;
    border-color: #f1f1f1;
    box-shadow: none;
    transition: all 0.6s ease-in-out;
    -webkit-transition: all 0.6s ease-in-out;
  }
  .downloads .fifth-row .box img{
    margin: 20px auto;
  }
  .downloads .fifth-row .box h4{
    font-size: 16px;
  }
  .downloads .fifth-row .box h4 i{
    margin: 0px 5px;
  }
  .downloads .sixth-row .left-side,
  .downloads .sixth-row .right-side{
    width: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 14px;
  }
  .downloads .seventh-row .box{
    border-right: 1px solid #ddd;
    margin: auto;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    width: 16.6%;
  }
  .downloads .seventh-row .box p{
    margin: auto;
  }
  .downloads .seventh-row .box .text{
    font-size: 14px;
  }
  .downloads .eight-row{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  #form_popup{
    background-color:#f5f5f5;
    position:absolute;
    margin:0 auto;
    display:none;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 50px 1px #000;
  }
  /*Price*/
  .price{
    margin-bottom: 10px;
  }
  .price .first-row{
    margin-top: 20px;
  }
  .price  .first-row > div{
    margin-top: 30px;
  }
  .price  .small-div{
    width: 200px;
    background-color: #308230;
    margin:auto;
    display: flex;
    padding: 10px 10px 15px;
  }
  .price  .small-div > .circle{
     border-radius: 50%;
     background-color: white;
     width: 20%;
     height: 100%;
     padding: 20px;
     position: relative;
  }
  .price .small-div > .circle i{
     position: absolute;
     top: 30%;
     left: 30%;
  }
  .price .small-div .text-div{
    color: white;
    width: 50%;
    text-align: center;
  }
  .price  .first-row .small-div,
  .price  .first-row .large-div{
     margin: auto;
     border: 4px #dddfe9 solid;
  }
  .price .first-row .large-div{
    background-color: #fff;
    box-shadow: 0 0 10px #ccc;
    margin-top: -14px;
    position: relative;
    border-radius: 4px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
  }
  .price .first-row .large-div .outer-box{
    width:25%;
    padding-bottom: 20px;
  }
  .price .outer-box h4 {
    font-size: 17px;
    color: #3a4172;
    margin: 25px 0 10px;
    text-align: center;
    line-height: 1.5;
  }
  .price .outer-box h4 span {
    font-size: 21px;
    color: #ff7d7d;
}
.price .large-div .inner-box{
    border: 4px solid #eaebf2;
    border-radius: 10px;
    padding: 13px 10px 0;
    font-size: 16px;
    width: 80%;
    margin: auto;
}
.price .large-div .inner-box .price-lists{
  padding-left: 0px;
  margin-top: 10px;
}
.price .large-div .inner-box .price-lists li{
  list-style: none;
  font-size: 14px;
}
.price .price-lists i{
  color: #308230;
}
.price .price-lists .extras{
  padding-left: 18px;
  line-height: 16px;
  font-size: 82%;
  display: block;
  color: #999;
  padding-top: 3px;
}

  /**#loading{
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    }
      
    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }**/

  /*MEDIA QUERIES*/
  /***MEDIA QUERIES***/
  /**@media (max-width: 2560px) and (min-width:1441px){
    .banner .text_on_banner{
      top:27%;
      font-size:2vw;
      max-width: 41%;
    }
    .banner .text2{
      top:43%;
      left:8%;
      max-width:550px;
    }
    .banner .Rectangle_2{
      top:66%;
    }
  }**/
  /**@media(max-width: 1440px) and (min-width:768px){
    .banner  .text_on_banner{
      top: 14%;
      font-size: 2vw;
      max-width: 41%;
    }
    .banner .text2{
      top:40%;
      left:8%;
    }
    .banner .Rectangle_2{
      top:62%;
    }
  }**/
  @media(min-width:1200px){
    .fifth-section .image-wrapper{
      width:20%;
    }
  }
  @media(max-width:1199px){
    .fifth-section .image-wrapper{
      width:16%;
      margin: auto;
    }
  }
  /**@media(min-width:1099px){
    #nav li .menu-size{
      width:110px;
    }
    #nav li .sub-size{
      width:180px;
    }
  }
  @media(min-width: 1025px){
    .second-nav .dsktp_logo img{
      max-width: 50%;
   }
  }
  @media(max-width: 1024px)and (min-width:767px){
    .second-nav .dsktp_logo img{
      max-width: 60%;
    }
  }
  @media(min-width:992px )and (max-width:1098px){
    #nav li .sub-size{
      width: 180px;
    }
  }**/
  @media(min-width:992px){
    .top-info-left{
      width: 30%;
    }
    .topbar .top-info-right{
      width: 70%;
    }
    /**#nav li .nav-link{
      font-size: 16px;
    }**/
    .slick-slider .prev-slide, 
    .slick-slider .next-slide{
      top: 34%;
      font-size: 30px;
    }
  }
  @media(max-width: 991px){
    /**.navbar-collapse > .left > li{
      width: 10%;
    }
    .mynavbar .second-nav{
      padding-top: 0px;
      padding-bottom: 0px;
   }
   #nav li .nav-link{
    font-size: 14px;
  }**/
   .ftr-bottom .text-section2 p i{
      font-size: 10px;
   }
   .downloads .seventh-row > div{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .downloads .seventh-row .box{
    width: 30%;
    float: left;
  }
  }
  @media(max-width: 991px) and (min-width:768px){
    .top-info-left{
      width: 35%;
    }
    .topbar .top-info-right{
      width: 65%;
    }
    /**#nav .bg-light > li{
      width: 150px;
    }
    #nav .sub-items > li > a{
      width: 160px;
    }**/
    .slick-slider .prev-slide, 
    .slick-slider .next-slide{
      top: 25%;
      font-size: 24px;
    }
    .first-section .box-wrapper img{
      width: 35%;
    }
    .price .large-div .inner-box .price-lists li{
      font-size: 12px;
      margin-bottom: 10px;
    }
    .price .price-lists .extras{
      padding-left: 0px;
    }
  }
  @media (min-width: 768px){
    .mynavbar {
      display: none !important;
    }  
    .mynavbar .navbar-collapse {
      display: -ms-flexbox !important;
      display: flex !important;
      -ms-flex-preferred-size: auto;
      flex-basis: auto;
    }
    /**.banner > .banner_image{
      width: 45%;
    }**/
    .below-slider .wrapper h5,
    .ftr-bottom .text-section2 .heading,
    #testimonial_slider .box-wrapper p,
    .topbar .bckgrnd{
      font-size: 18px;
    }
    .second-section .box-wrapper{
      margin: 40px 0px;
    }
  #testimonial_slider .carousel-control-prev,
  #testimonial_slider .carousel-control-next{
    width: 50px;
    height: 50px;
  }
    #testimonial_slider .carousel-control-prev{
      left: -6%;
      border-radius: 50%;
      box-shadow: 0 5px 10px 0 rgb(0 0 0 / 10%);
      transition: color .2s ease;
      top: 35%;
    }
    #testimonial_slider .carousel-control-next{
      right: -6%;
      border-radius: 50%;
      box-shadow: 0 5px 10px 0 rgb(0 0 0 / 10%);
      transition: color .2s ease;
      top: 35%;
    }
    .ftr-bottom .text-section2 > div
    {
      border-right: 1px solid #505050;
      padding-left: 20px;
      padding-right: 20px;
    }
    .ftr-bottom .text-section2 > .social-icons
    {
      border-right: none;
    }
    .ftr-bottom .text-section2
    {
      padding: 40px 0 15px;
    }
    .ftr-bottom .social-icons img{
      width:10%;
    }
    .ftr-bottom .cpyryt div{
      display: flex;
    }
    .contact-us .inner-div{
      width: 60%;
      margin: auto;
    }
    .contact-us .inner-div p{
      width: 50%;
    }
    .downloads .second-row > div {
      display: flex;
      margin: auto;
    }
    .downloads .fourth-row .heading{
      width: 65%;
    }
    .price .outer-box h4{
      height: 90px;
    }
    .price .large-div .inner-box{
      height: 60%;
    }
  }
  @media (max-width: 767px){
    .topbar .bckgrnd .col-lg-11{
      display: initial;
      text-align: center;
    }
    .top-info-left, .top-info-right{
      display: initial;
      width: initial;
    }
    .mynavbar{
      flex-wrap: initial !important;
    }
    .mynavbar .mob-logo{
      text-align: center;
      margin:auto;
    }
    .mob-nav{
      margin-top: 10px;
    }
    .sidenav {
      height: 100%;
      width: 0;
      position: fixed;
      z-index: 2;
      top: 0;
      left: 0;
      background-color: white;
      overflow-x: hidden;
      transition: 0.5s;
      padding-top: 60px;
    }
    .sidenav a {
      padding: 8px 8px 8px 32px;
      text-decoration: none;
      font-size: 14px;
      color:black;
      display: block;
      transition: 0.3s;
      font-family: 'Dosis', sans-serif;
    }
    .sidenav .closebtn {
      position: absolute;
      top: -5px;
      right: 10px;
      font-size: 36px;
      margin-left: 50px;
    }
    .sidenav > ul > li > ul > li > a{
      color:lightgrey;
      font-weight: bold;
    }
    .sidenav .sub-items a{ 
      color:lightgrey !important;
    }
    .sidenav .dropdown-menu{
      border: none;
    }
    /*.mob-nav .dropdown-menu{
      position: absolute;
    }**/
    .newmenu{
      display: none !important;
     }
    /** .banner{
      position: relative; 
      text-align: center;
    }
   .banner .text_on_banner{
     text-align: center;
     font-size: 14px;
     max-width: 85%;
     margin: auto;
     position: static;
   }
   .banner .text2{
     position: absolute;
     top:35%;
     left:14%;
     font-size:4vw;
     text-align: center;
   }
   .banner .Rectangle_2{
    position: static;
    margin: auto;
    left: 0;
    margin-top: 20px;
   }
   .banner .Explore_collection{
     margin:auto;
     line-height: 2.5;
     font-size: 13px;
   }
   .banner > .banner_image{
     top: -2%;
     right: 17%;
     width: 62%;
   }**/
    .below-slider .wrapper h5{
      font-size: 16px;
    }
    .first-section .box-container{
       margin-bottom: 10px;
    }
    .second-section{
      margin-top: 0px;
    }
    .second-section .box-wrapper{
      margin: 25px 0px;
    }
    .first-section .box-wrapper img{
      width: 45%;
    }
    #testimonial_slider .carousel-control-prev,
    #testimonial_slider .carousel-control-next
    {
      top: 41%;
      width: 30px;
      height: 30px;
    }
    .slick-slider .prev-slide, 
    .slick-slider .next-slide{
      top: 15%;
      font-size: 24px;
    }
    .ftr-bottom .text-section2 {
      padding: 20px 0px 0px;
    }
    .ftr-bottom .text-section2 .heading{
      margin-bottom: 10px;
    }
    .ftr-bottom .text-section2 > div{
      padding-bottom: 15px;
    }
    .ftr-bottom .social-icons img{
      width:12%;
    }
    .ftr-bottom .cpyryt div{
      display: initial;
      text-align: center;
    }
    .about-us > .row > div:nth-of-type(1){
      border-bottom: 1px solid darkgray;
    }
    .customer > .row > .wrapper{
      width: 24%;
    }
    .contact-us .inner-div{
      width: 90%;
      margin: auto;
    }
    .contact-us .inner-div p{
      width: 50%;
    }
    .downloads .second-row .first,
    .downloads .second-row .second{
      width: 80%;
      margin-bottom: 10px;
    }
    .downloads .second-row .middle h4 a{
      padding: 5px 15px;
    }
    .downloads .fourth-row .video .video_card{
      width: 100%;
    }
    .downloads .fourth-row .heading{
      font-size: 25px;
    }
    .downloads .fifth-row > div,
    .downloads .sixth-row > div{
      display: inline-block;
    }
    .downloads .fifth-row .box,
    .downloads .sixth-row .left-side, 
    .downloads .sixth-row .right-side {
      width: 100%;
      margin: 20px 0px;
    }
    .downloads .seventh-row .box{
      width: 50%;
    }
    .price .first-row .large-div{
      display: block;
      padding-bottom: 20px;
    }
    .price .first-row .large-div .outer-box{
      padding-bottom:0px;
      width: 100%;
    }
  }
  @media(min-width:576px){
    .mynavbar .mob-logo img{
      max-width: 30%;
    }
    .below-slider .wrapper{
      border-right: 1px solid darkgray;
    }
    .below-slider .wrapper:nth-of-type(3){
      border: none;
    }
    .slick-slider{
      width: 100%;
    }
    
  }
  @media(max-width:575px){
    .mynavbar .mob-logo img{
      max-width: 19%;
    }
    /**.banner .Explore_collection{
      font-size: 2vw;
    }**/
    .below-slider .wrapper h5{
      display: none;
    }
    .slick-slider{
      width: 95%;
    }
    .ftr-bottom .text-section2{
      margin-top: 0px;
    }
    .ftr-bottom .text-section2 .heading{
      margin-bottom:5px;
    }
    .ftr-bottom .text-section2 > div{
      margin-bottom: 25px;
    }
    .customer > .row > .wrapper{
      width: 30%;
    }
  }
  /*@media(max-width:558px){
    .banner .text2{
      position: absolute;
      top:35%;
      left:10%;
    }
    .banner .Explore_collection{
      font-size: 2vw;
    }
  }*/
  /**@media(max-width: 396px){
    .banner .Rectangle_2{
       height: auto;
    }
  }**/
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 14px;}
  }
  @media (max-width:450px){
    /**.banner .text_on_banner{
      font-size: 13px;
    }**/
  }
  #map {
    height: 500px;
    width: 100%;
   }