<div class="container customer">
    <h1>Our Customers</h1>
    <div class="row">
        <div class="wrapper">
            <img src="https://dummyimage.com/170x60/000/fff" alt="logo" class="img-fluid">
            <p>Mr Abc dfaffddd</p>
        </div>
        <div class="wrapper">
            <img src="https://dummyimage.com/170x60/000/fff" alt="logo" class="img-fluid">
            <p>Mr Abc dfaffddd</p>
        </div>
        <div class="wrapper">
            <img src="https://dummyimage.com/170x60/000/fff" alt="logo" class="img-fluid">
            <p>Mr Abc dfaffddd</p>
        </div>
        <div class="wrapper">
            <img src="https://dummyimage.com/170x60/000/fff" alt="logo" class="img-fluid">
            <p>Mr Abc dfaffddd</p>
        </div>
        <div class="wrapper">
            <img src="https://dummyimage.com/170x60/000/fff" alt="logo" class="img-fluid">
            <p>Mr Abc dfaffddd</p>
        </div>
        <div class="wrapper">
            <img src="https://dummyimage.com/170x60/000/fff" alt="logo" class="img-fluid">
            <p>Mr Abc dfaffddd</p>
        </div>
        <div class="wrapper">
            <img src="https://dummyimage.com/170x60/000/fff" alt="logo" class="img-fluid">
            <p>Mr Abc dfaffddd</p>
        </div>
        <div class="wrapper">
            <img src="https://dummyimage.com/170x60/000/fff" alt="logo" class="img-fluid">
            <p>Mr Abc dfaffddd</p>
        </div>
        <div class="wrapper">
            <img src="https://dummyimage.com/170x60/000/fff" alt="logo" class="img-fluid">
            <p>Mr Abc dfaffddd</p>
        </div>
        <div class="wrapper">
            <img src="https://dummyimage.com/170x60/000/fff" alt="logo" class="img-fluid">
            <p>Mr Abc dfaffddd</p>
        </div>
        <div class="wrapper">
            <img src="https://dummyimage.com/170x60/000/fff" alt="logo" class="img-fluid">
            <p>Mr Abc dfaffddd</p>
        </div>
        <div class="wrapper">
            <img src="https://dummyimage.com/170x60/000/fff" alt="logo" class="img-fluid">
            <p>Mr Abc dfaffddd</p>
        </div>
        <div class="wrapper">
            <img src="https://dummyimage.com/170x60/000/fff" alt="logo" class="img-fluid">
            <p>Mr Abc dfaffddd</p>
        </div>
        <div class="wrapper">
            <img src="https://dummyimage.com/170x60/000/fff" alt="logo" class="img-fluid">
            <p>Mr Abc dfaffddd</p>
        </div>
        <div class="wrapper">
            <img src="https://dummyimage.com/170x60/000/fff" alt="logo" class="img-fluid">
            <p>Mr Abc dfaffddd</p>
        </div>
    </div>
</div>
